<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538874086903-gpjttk6tmnd1p9gvbelm5ae9jlrcp46b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538874086903-gpjttk6tmnd1p9gvbelm5ae9jlrcp46b</string>
	<key>API_KEY</key>
	<string>AIzaSyD0XRhez95XYkMQYPolUc0_3QQv6nTjr1k</string>
	<key>GCM_SENDER_ID</key>
	<string>538874086903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cooknow</string>
	<key>PROJECT_ID</key>
	<string>cooknow-b55d0</string>
	<key>STORAGE_BUCKET</key>
	<string>cooknow-b55d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538874086903:ios:bc56eb25254118b30e1af2</string>
</dict>
</plist>